/* Created by: Isaaq Simon
* Created on: Mar 2025
* This file contains the CSS for index.html
*/
body {
    background-color: lightyellow;
}

h1 {
    color: rgb(255, 0, 0);
    /* Red */
    color: hsl(0, 100%, 50%);
    /* Red */
    color: #ff0000;
    /* Red */
}